#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {

    behaviors {
        altR: altR {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_R";
            #binding-cells = <0>;
            bindings = <&kp R>, <&kp LA(F4)>;
            mods = <(MOD_LALT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

  // DEFAULT
  // ,------------------------------------------------.   ,------------------------------------------------.
  // | ESC  | Tab  |   Q  |   W  |   E  | AltR |  T   |   |  Y   |   U  |   I  |   O  |   P  |  Del | Bksp |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |  [   |  ]   |   A  |   S  |   D  |   F  |  G   |   |  H   |   J  |   K  |   L  |   ;  |   '  | Enter|
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // | Sh/Ps|  \   |   Z  |   X  |   C  |   V  |  B   |   |  N   |   M  |   ,  |   .  |   /  |  UP  | RSft |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // | LCtrl| ALT  | LGui | Home | End  | META |Enter |   |Space | SYMB | RAlt | RCtrl| LEFT | DOWN | RIGHT|
  // `------------------------------------------------'   `------------------------------------------------'
  //
        default_layer {
            bindings = <
&kp ESC               &kp TAB     &kp Q     &kp W     &kp E     &altR     &kp T     /**/ &kp Y     &kp U     &kp I     &kp O     &kp P     &kp DEL   &kp BACKSPACE  
&kp LBKT              &kp RBKT    &kp A     &kp S     &kp D     &kp F     &kp G     /**/ &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp RBKT  &kp ENTER
&mt LSHFT PRINTSCREEN &kp BSLH  &kp Z     &kp X     &kp C     &kp V     &kp B     /**/ &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp UP    &kp RSHFT 
&kp LCTRL             &kp LALT    &kp LGUI  &kp HOME  &kp END   &mo 1     &kp ENTER /**/ &kp SPACE &mo 2     &kp RALT  &kp RCTRL &kp LEFT  &kp DOWN  &kp RIGHT  
            >;
        };

  // META
  // ,------------------------------------------------.   ,------------------------------------------------.
  // |      |      |   1  |   2  |   3  |   4  |   5  |   |   6  |   7  |   8  |   9  |   0  |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |  F1  |  F2  |  F3  |  F4  |  F5  |   |  F6  |  F7  |  F8  |  F9  |  F10 |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |PrtScn|      |      |      |      |      |      |   |      |      |      |  F11 |  F12 |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // `------------------------------------------------'   `------------------------------------------------'
  //
        meta_layer {
            bindings = <
&trans          &trans  &kp N1  &kp N2  &kp N3   &kp N4  &kp N5  /**/ &kp N6   &kp N7   &kp N8   &kp N9   &kp N0    &trans    &trans   
&trans          &trans  &kp F1  &kp F2  &kp F3   &kp F4  &kp F5  /**/ &kp F6   &kp F7   &kp F8   &kp F9   &kp F10   &trans    &trans
&kp PRINTSCREEN &trans  &trans  &trans  &trans   &trans  &trans  /**/ &trans   &trans   &trans   &kp F11  &kp F12   &trans    &trans
&mo 3           &trans  &trans  &trans  &trans   &trans  &trans  /**/ &trans   &trans   &trans   &trans   &trans    &trans    &trans
            >;
        };

  // SYMB
  // ,------------------------------------------------.   ,------------------------------------------------.
  // |      |      |   !  |   @  |   #  |   $  |   %  |   |   ^  |   &  |   *  |   (  |   )  |      |      |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      | Left |  Up  | Down |Right |      |      |
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |  BT  |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // `------------------------------------------------'   `------------------------------------------------'
  //
        symb_layer {
            bindings = <
&trans  &trans &kp EXCL &kp AT  &kp HASH &kp DOLLAR &kp PERCENT /**/ &kp CARET &kp AMPS  &kp ASTRK &kp LPAR  &kp RPAR  &trans   &trans
&trans  &trans &trans   &trans  &trans   &trans     &trans      /**/ &trans    &kp LEFT  &kp UP    &kp DOWN  &kp RIGHT &trans   &trans
&trans  &trans &trans   &trans  &trans   &trans     &trans      /**/ &trans    &trans    &trans    &trans    &trans    &trans   &trans
&mo 3   &trans &trans   &trans  &trans   &trans     &trans      /**/ &trans    &trans    &trans    &trans    &trans    &trans   &trans
            >;
        };

  // BT 
  // ,------------------------------------------------.   ,------------------------------------------------.
  // |BT_CLR| BT0  | BT1  | BT2  | BT3  | BT4  |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |TOGGLE|      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // `------------------------------------------------'   `------------------------------------------------'
  //
        bt_layer {
            bindings = <
&bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&out OUT_TOG &trans       &trans       &trans       &trans       &trans       &trans /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&trans       &trans       &trans       &trans       &trans       &trans       &trans /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&trans       &trans       &trans       &trans       &trans       &trans       &trans /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
            >;
        };

    };
};
