#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {

    behaviors {
              altf4: alt_f4 {
              compatible = "zmk,behavior-mod-morph";
              label = "ALT_F4";
              #binding-cells = <0>;
              bindings = <&kp N4>, <&kp LA(F4)>;
              mods = <(MOD_LALT)>;
              };
       };

    keymap {
        compatible = "zmk,keymap";

  // DEFAULT
  // ,------------------------------------------------.   ,------------------------------------------------.
  // | ESC  |   1  |   2  |   3  |  4*  |  5   |  =   |   | PgUp |   6  |   7  |   8  |   9  |   0  | Bksp |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // | TAB  |   Q  |   W  |   E  |   R  |  T   |  -   |   | PgDn |   Y  |   U  |   I  |   O  |   P  | Del  |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |  `   |   A  |   S  |   D  |   F  |  G   |  \   |   | Home |   H  |   J  |   K  |   L  |   ;  |   '  | 
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // | LSft |   Z  |   X  |   C  |   V  |  B   |  NUM |   | End  |   N  |   M  |   ,  |   .  |   /  | RSft | 
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // | LCtrl| LGui |   [  |   ]  | LAlt | META |Enter |   |Space | SYMB | RCtrl| Left |  Up  | Down | Right|
  // `------------------------------------------------'   `------------------------------------------------'
  //
        default_layer {
            bindings = <
&kp ESC   &kp N1     &kp N2    &kp N3    &altf4    &kp N5  &kp EQUAL   /**/ &kp PG_UP  &kp N6   &kp N7    &kp N8     &kp N9    &kp N0    &kp BACKSPACE
&kp TAB   &kp Q      &kp W     &kp E     &kp R     &kp T   &kp MINUS   /**/ &kp PG_DN  &kp Y    &kp U     &kp I      &kp O     &kp P     &kp DEL 
&kp GRAVE &kp A      &kp S     &kp D     &kp F     &kp G   &kp BSLH    /**/ &kp HOME   &kp H    &kp J     &kp K      &kp L     &kp SEMI  &kp SQT   
&kp LSHFT &kp Z      &kp X     &kp C     &kp V     &kp B   &mo 2       /**/ &kp END    &kp N    &kp M     &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT 
&kp LCTRL &kp LGUI   &kp LBKT  &kp RBKT  &kp LALT  &mo 1   &kp ENTER   /**/ &kp SPACE  &mo 1    &kp RCTRL &kp LEFT   &kp UP    &kp DOWN  &kp RIGHT  
            >;
        };

  // META
  // ,------------------------------------------------.   ,------------------------------------------------.
  // |      |  F1  |  F2  |  F3  |  F4  |  F5  |      |   |      |  F6  |  F7  |  F8  |  F9  | F10  |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      | F11  | F12  |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |  <-  |  ^   |  v   |  ->  |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // | CAPS |      |      |      |      |      |      |   |      |      | Home | PgUp | PgDn | End  |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // | BT   |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // `------------------------------------------------'   `------------------------------------------------'
  //
        meta_layer {
            bindings = <
&trans    &kp F1   &kp F2  &kp F3  &kp F4   &kp F5  &trans   /**/ &trans   &kp F6   &kp F7   &kp F8     &kp F9     &kp F10   &trans
&trans    &trans   &trans  &trans  &trans   &trans  &trans   /**/ &trans   &trans   &trans   &trans     &kp F11    &kp F12   &trans
&trans    &trans   &trans  &trans  &trans   &trans  &trans   /**/ &trans   &trans   &kp LEFT &kp UP     &kp DOWN   &kp RIGHT &trans
&kp CAPS  &trans   &trans  &trans  &trans   &trans  &trans   /**/ &trans   &trans   &kp HOME &kp PG_UP  &kp PG_DN  &kp END   &trans
&mo 3     &trans   &trans  &trans  &trans   &trans  &trans   /**/ &trans   &trans   &trans   &trans     &trans     &trans    &trans
            >;
        };

  // SYMB
  // ,------------------------------------------------.   ,------------------------------------------------.
  // |      |      |      |      |      |      |      |   |      |   7  |   8  |   9  |      |      |      |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |   4  |   5  |   6  |      |      |      |
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |   1  |   2  |   3  |      |      |      |
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |  BT  |      |      |      |      |      |      |   |   0  |      |      |      |      |      |      |
  // `------------------------------------------------'   `------------------------------------------------'
  //
        symb_layer {
            bindings = <
&trans  &trans   &trans    &trans   &trans     &trans      &trans /**/ &trans    &kp N7   &kp N8    &kp N9   &trans   &trans    &trans
&trans  &trans   &trans    &trans   &trans     &trans      &trans /**/ &trans    &kp N4   &kp N5    &kp N6   &trans   &trans    &trans
&trans  &trans   &trans    &trans   &trans     &trans      &trans /**/ &trans    &kp N1   &kp N2    &kp N3   &trans   &trans    &trans
&trans  &trans   &trans    &trans   &trans     &trans      &trans /**/ &trans    &trans   &trans    &trans   &trans   &trans    &trans
&mo 3   &trans   &trans    &trans   &trans     &trans      &trans /**/ &kp N0    &trans   &trans    &trans   &trans   &trans    &trans
            >;
        };

  // BT 
  // ,------------------------------------------------.   ,------------------------------------------------.
  // |BT_CLR| BT1  | BT2  | BT3  | BT4  | BT5  |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |OutTog| USB  | BLE  |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // `------------------------------------------------'   `------------------------------------------------'
  //
        bt_layer {
            bindings = <
&bt BT_CLR    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans       /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&out OUT_TOG  &out OUT_USB &out OUT_BLE &trans       &trans       &trans       &trans       /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&trans        &trans       &trans       &trans       &trans       &trans       &trans       /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&trans        &trans       &trans       &trans       &trans       &trans       &trans       /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&trans        &trans       &trans       &trans       &trans       &trans       &trans       /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
            >;
        };

    };
};
