#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

  // DEFAULT
  // ,------------------------------------------------.   ,------------------------------------------------.
  // | ESC  | Tab  |   1  |   2  |   3  |   4  |  5   |   |  6   |   7  |   8  |   9  |   0  | Del  | Bksp |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |  -   |  =   |   Q  |   W  |   E  |   R  |  T   |   |  Y   |   U  |   I  |   O  |   P  | PGDN | PGUP |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |  `   |  \   |   A  |   S  |   D  |   F  |  G   |   |  H   |   J  |   K  |   L  |   ;  |   '  | Enter|
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // | SYMB | LSft |   Z  |   X  |   C  |   V  |  B   |   |  N   |   M  |   ,  |   .  |   /  |  UP  | RSft |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // | LCtrl| LGui |   [  |   ]  | LAlt | META |Space |   |Space | HOME | END  | RCtrl| LEFT | DOWN | RIGHT|
  // `------------------------------------------------'   `------------------------------------------------'
  //
        default_layer {
            bindings = <
&kp ESC   &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    /**/ &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DEL   &kp BACKSPACE
&kp MINUS &kp EQUAL  &kp Q     &kp W     &kp E     &kp R     &kp T     /**/ &kp Y     &kp U     &kp I     &kp O     &kp P     &kp PG_DN &kp PG_UP  
&kp GRAVE &kp BSLH   &kp A     &kp S     &kp D     &kp F     &kp G     /**/ &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp ENTER
&mo 2     &kp LSHFT  &kp Z     &kp X     &kp C     &kp V     &kp B     /**/ &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp UP    &kp RSHFT 
&kp LCTRL &kp LGUI   &kp LBKT  &kp RBKT  &kp LALT  &mo 1     &kp SPACE /**/ &kp SPACE &kp HOME  &kp END   &kp RCTRL &kp LEFT  &kp DOWN  &kp RIGHT  
            >;
        };

  // META
  // ,------------------------------------------------.   ,------------------------------------------------.
  // |  ~   |      |  F1  |  F2  |  F3  |  F4  |  F5  |   |  F6  |  F7  |  F8  |  F9  | F10  | F11  | F12  |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // |      | CAPS |      |      |      |      |      |   |      |      |      |      |      | PGUP |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      | PGDN |      |
  // `------------------------------------------------'   `------------------------------------------------'
  //
        meta_layer {
            bindings = <
&kp TILDE &trans   &kp F1  &kp F2  &kp F3   &kp F4  &kp F5   /**/ &kp F6   &kp F7   &kp F8   &kp F9  &kp F10   &kp F11   &kp F12
&trans    &trans   &trans  &trans  &trans   &trans  &trans   /**/ &trans   &trans   &trans   &trans  &trans    &trans    &trans
&trans    &trans   &trans  &trans  &trans   &trans  &trans   /**/ &trans   &trans   &trans   &trans  &trans    &trans    &trans
&trans    &kp CAPS &trans  &trans  &trans   &trans  &trans   /**/ &trans   &trans   &trans   &trans  &trans    &kp PG_UP &trans
&trans    &trans   &trans  &trans  &trans   &trans  &trans   /**/ &trans   &trans   &trans   &trans  &trans    &kp PG_DN &trans
            >;
        };

  // SYMB
  // ,------------------------------------------------.   ,------------------------------------------------.
  // |      |      |      |      |      |      |      |   |      |   7  |   8  |   9  |      |      |      |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |   4  |   5  |   6  |      |      |      |
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |   1  |   2  |   3  |      |      |      |
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      | PGUP |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |  BT  |      |      |      |      |      |      |   |   0  |      |      |      |      | PGDN |      |
  // `------------------------------------------------'   `------------------------------------------------'
  //
        symb_layer {
            bindings = <
&trans  &trans   &trans    &trans   &trans     &trans      &trans /**/ &trans    &kp N7   &kp N8    &kp N9   &trans   &trans    &trans
&trans  &trans   &trans    &trans   &trans     &trans      &trans /**/ &trans    &kp N4   &kp N5    &kp N6   &trans   &trans    &trans
&trans  &trans   &trans    &trans   &trans     &trans      &trans /**/ &trans    &kp N1   &kp N2    &kp N3   &trans   &trans    &trans
&trans  &trans   &trans    &trans   &trans     &trans      &trans /**/ &trans    &trans   &trans    &trans   &trans   &kp PG_UP &trans
&mo 3   &trans   &trans    &trans   &trans     &trans      &trans /**/ &kp N0    &trans   &trans    &trans   &trans   &kp PG_DN &trans
            >;
        };

  // BT 
  // ,------------------------------------------------.   ,------------------------------------------------.
  // |BT_CLR|TOGGLE| BT1  | BT2  | BT3  | BT4  | BT5  |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |-------------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------|------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // |------+------+------+------+------+------+------|   |------+------+------+------+------+------+------|
  // |      |      |      |      |      |      |      |   |      |      |      |      |      |      |      |
  // `------------------------------------------------'   `------------------------------------------------'
  //
        bt_layer {
            bindings = <
&bt BT_CLR   &out OUT_TOG &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&trans       &trans       &trans       &trans       &trans       &trans       &trans       /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&trans       &trans       &trans       &trans       &trans       &trans       &trans       /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&trans       &trans       &trans       &trans       &trans       &trans       &trans       /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
&trans       &trans       &trans       &trans       &trans       &trans       &trans       /**/ &trans  &trans  &trans  &trans &trans   &trans   &trans
            >;
        };

    };
};
