
if SHIELD_NICENANOSINCSPLIT_LEFT

config ZMK_KEYBOARD_NAME
	default "nice!nanoSinc Split"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_NICENANOSINCSPLIT_RIGHT

config ZMK_KEYBOARD_NAME
	default "nice!nanoSinc Right"

endif

if SHIELD_NICENANOSINCSPLIT_LEFT || SHIELD_NICENANOSINCSPLIT_RIGHT

config ZMK_SPLIT
	default y

endif
